html {
    background-color: black;
    color:red;
    font-family:'Arial Black';
}

#titleBar, #urmom, #logo {
    display:inline-block
}

#menuBar {
    background-color:red;
    color:red;
    height:40px;
}

button {
    background-color:white;
    border-style:none;
    color:red;
    border-radius:12px;
}

input {
    border-style: none;
    border-radius: 12px;
    color:red;
}